* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #23424A;
    padding: 9rem 7rem;
}

.hero-text {
    width: 50%;
    max-width: 550px;
    color: white;
}

.hero-text h1 {
    /* font-weight: 900; */
    font-size: 3rem;
    margin-top: 0;
}

.hero-text p {
    font-size: 1.125rem;
    font-weight: normal;
}

.hero-text a {
    font-size: 1.125rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #38CFD9;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius:3rem;
    margin: 2.5rem 0;
    display: inline-block;
}

@media (max-width: 768px){
    html {
        font-size: 12px;
    }
}

